@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-dark: hsl(0, 0%, 85%);
  --background: hsl(0, 0%, 90%);
  --background-light: hsl(0, 0%, 98%);
  --foreground: hsl(0, 0%, 5%);
  --foreground-muted: hsl(0, 0%, 20%);

  --primary: hsl(220, 50%, 40%);
  --primary-foreground: hsl(220, 50%, 90%);

  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);

  --success: hsl(150 45% 70%);
  --success-foreground: hsl(150 80% 15%);

  --info: hsl(210 50% 50%);

  --border: hsl(220 13% 91%);

  --card-shadow:
    inset 0 1px 2px hsla(0, 0%, 100%), 0px 2px 4px hsla(0, 0%, 0%, 0.07),
    0px 4px 8px hsla(0, 0%, 0%, 0.15);
}

.dark {
  --background-dark: hsl(0, 0%, 10%);
  --background: hsl(0, 0%, 15%);
  --background-light: hsl(0, 0%, 25%);
  --foreground: hsl(0, 0%, 95%);
  --foreground-muted: hsl(0, 0%, 80%);

  --primary: hsl(220, 50%, 50%);
  --primary-foreground: hsl(220, 50%, 90%);

  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 20% 98%);

  --success: hsl(150 80% 15%);
  --success-foreground: hsl(150 45% 70%);

  --info: hsl(210 50% 50%);

  --border: hsl(215 27.9% 16.9%);

  --card-shadow:
    0px 6px 6px hsla(0, 0%, 0%, 0.07), 0px 12px 12px hsla(0, 0%, 0%, 0.15);
}

@theme {
  --color-background-dark: var(--background-dark);
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-info: var(--info);

  --color-border: var(--border);

  --shadow-card: var(--card-shadow);
}

@layer base {
  * {
    @apply border-border;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.15s;
}
