---
import { getCollection } from "astro:content";
import BlogPostLink from "../../components/BlogPostLink.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  return allPosts.flatMap((p) =>
    [...new Set(p.data.tags)].map((t) => ({
      params: { tag: t },
      props: { posts: allPosts },
    })),
  );
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((p) => p.data.tags.includes(tag));
---

<Layout title={tag}>
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <p class="mb-4">Posts tagged with {tag}</p>
    <ul class="flex flex-col gap-8">
      {
        filteredPosts.map((post) => (
          <BlogPostLink url={`/posts/${post.id}`} title={post.data.title} />
        ))
      }
    </ul>
  </main>
</Layout>
