---
import { getCollection } from "astro:content";
import MainHeading from "../../components/MainHeading.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap((p) => p.data.tags.map((t) => t)))];
const numberOfPostsWithTag = (tags: string) =>
  allPosts.filter((p) => p.data.tags.includes(tags)).length;
---

<Layout title="Tag Index">
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <MainHeading content="Tags" />
    <ul>
      {
        tags.map((t) => (
          <li>
            <a
              class="text-info font-semibold hover:underline"
              href={`/tags/${t}`}
            >
              {t} ({numberOfPostsWithTag(t)})
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
