---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Welcome to the Astro homepage">
  <main class="flex flex-col items-center gap-4 pt-8">
    <Header />
    <h1 class="text-8xl font-black">About</h1>
  </main>
</Layout>
