---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Welcome to the Astro homepage">
  <main class="flex flex-col items-center pt-8 gap-4">
    <Header />
    <h1 class="font-black text-8xl">About</h1>
  </main>
</Layout>
