---
import Navbar from "../components/Navbar.astro";
import MainHeading from "../components/MainHeading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Welcome to the Astro homepage">
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <MainHeading content="About" />
  </main>
</Layout>
