---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="Home" description="Welcome to the Astro homepage">
  <main class="flex flex-col items-center gap-4 pt-8">
    <Header />
    <h1 class="text-8xl font-black">Blog</h1>
    <p class="pt-8">I am learning astro 🚀</p>
  </main>
</Layout>
