---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MainHeading from "../components/MainHeading.astro";
import BlogPostLink from "../components/BlogPostLink.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const otherPosts = await getCollection("posts");
---

<Layout title="Home" description="Welcome to the Astro homepage">
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <MainHeading content="Blog" />
    <p class="mt-8">I am learning astro 🚀</p>
    <ul class="mt-8 flex flex-col justify-center gap-6">
      {
        allPosts.map((p) => (
          <BlogPostLink url={`/posts/${p.id}`} title={p.data.title} />
        ))
      }
    </ul>
    <p>JSON placeholder example:</p>
    {otherPosts.map((p) => <p>{p.data.title}</p>)}
  </main>
</Layout>
