---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Navbar.astro";
import MainHeading from "../components/MainHeading.astro";
---

<Layout title="Home" description="Welcome to the Astro homepage">
  <main class="flex flex-col items-center gap-4 mt-8">
    <Header />
    <MainHeading content="Hi 🫥" />
  </main>
</Layout>
