<div
  class="bg-background hover:from-background-light hover:to-background shadow-card shadow-card-long flex max-w-xl flex-col gap-2 rounded-md p-6 hover:cursor-text hover:bg-linear-to-b"
>
  <h3 class="text-foreground text-3xl font-semibold">Some Heading</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
    perferendis repudiandae deleniti totam temporibus modi nisi atque, ex eos
    minima accusamus! Quo impedit, non similique fugit ut maiores aliquam magni.
  </p>
  <div class="mt-4">
    <button
      type="button"
      class="text-foreground bg-background-light/60 rounded-md px-4 py-2 font-bold shadow-lg hover:cursor-pointer"
    >
      Click Me 😀
    </button>
  </div>
</div>
