<div>
  <a
    class="text-info font-bold hover:underline visited:text-info/50 p-2 border border-boder"
    href="/">Home</a
  >
  <a
    class="text-info font-bold hover:underline visited:text-info/50 p-2 border border-boder"
    href="/about/">About</a
  >
  <a
    class="text-info font-bold hover:underline visited:text-info/50 p-2 border border-boder"
    href="/blog/">Blog</a
  >
</div>
