---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="flex flex-wrap items-center justify-between gap-2 p-2">
  <div class="flex flex-wrap gap-1">
    <a
      class="nav-link px-3 py-2 font-bold transition-colors hover:underline"
      href="/">Home</a
    >
    <a
      class="nav-link px-3 py-2 font-bold transition-colors hover:underline"
      href="/about/">About</a
    >
    <a
      class="nav-link px-3 py-2 font-bold transition-colors hover:underline"
      href="/blog/">Blog</a
    >
    <a
      class="nav-link px-3 py-2 font-bold transition-colors hover:underline"
      href="/tags/">Tags Index</a
    >
  </div>
  <ThemeToggle />
  <script>
    // import "../scripts/nav-link.js";
  </script>
</nav>
