<div>
  <a
    class="text-info border-boder nav-link border p-2 font-bold hover:underline"
    href="/">Home</a
  >
  <a
    class="text-info border-boder nav-link border p-2 font-bold hover:underline"
    href="/about/">About</a
  >
  <a
    class="text-info border-boder nav-link border p-2 font-bold hover:underline"
    href="/blog/">Blog</a
  >
  <script>
    import "../scripts/nav-link.js";
  </script>
</div>
