---
import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro"; // your base layout

interface Props {
  frontmatter: {
    title: string;
    pubDate: Date;
    description: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
    layout: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <p class="text-muted-foreground">
      Published: {frontmatter.pubDate.toString().split("T")[0]}
    </p>
    <article class="prose dark:prose-invert mx-auto max-w-2xl">
      <slot />
    </article>
  </main>
</Layout>
