---
import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro"; // your base layout
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <article class="prose dark:prose-invert mx-auto max-w-2xl">
      <slot />
    </article>
  </main>
</Layout>
